* {
    margin:0;
    padding:0;
}

html,body{
    height: 100%;
    overflow-y: hidden;
}

@font-face {
    font-family: 'open sans';
    src: url(./fonts/OpenSans-Bold.ttf);
}

.container-principal {
    width:100%;
    display:flex;
    flex-direction: row;
}

.container-esquerdo {
    width:70%;
    background-color:#f9f9f9;
    /* background-color: red; */
    height: 100vh;
}

.menu {
    margin-top:60px;
    margin-left:226px;
}

.menu ul {
    display: flex;
}

.menu ul a {
    text-decoration: none;
    color: #44bd32;
}

.menu ul a:hover {
    border-bottom: 4px solid #67d756;
}

li {
    list-style-type: none;
    margin-left:30px;
    font-size:25px;
    font-family:Tahoma, sans-serif
}

.natureText{
    width: 50%;;
    margin-left:300px;
    margin-top:240px;
}

.natureText h1 {
    color: #44BD32;
    font-family: 'open sans';
    font-size:3rem;
}

.natureText p {
    color:#44BD32;
    font-size: 1.33rem;
    /* font-weight: 600; */
    
}

.natureText button {
    background-color:#44bd32;
    color:#f9f9f9;
    font-family:Tahoma, sans-serif;
    margin-top:10px;
    font-size:20px;
    border:0;
    padding: 0;
    text-align: center;
    width:150px;
    height:40px;
    border-radius: 30px;
    line-height: center;
}

.natureText button:hover {
    background-color: #67d756;
}

.container-direito {
    width:30%;
    background-color:#44bd32;
    height:100vh;
}

.container-direito img {
    width:370px;
    position:absolute;
    top:40%;
    right:14%
}


@media (max-width: 768px){
    .container-principal {
        width:100%;
        display:flex;
        flex-direction: column;
    }

    .menu {
        margin-top:60px;
        margin-left:226px;
        display: none;
    }

    .container-direito {
        width:30%;
        background-color:#44bd32;
        height:10vh;
    }

    .container-direito img {
        width:550px;
        position:absolute;
        top:10%;
        right:14%
    }
    
    .natureText{
        width: 100%;;
        margin-left:140px;
        margin-top:550px;
    }
    
}

@media (max-width: 425px){

    .container-direito img {
        width:550px;
        position:absolute;
        top:10%;
        right:0%
    }

    .natureText{
        width: 80vw;
        margin-left:30px;
        margin-top:550px;
    }
    
}

